:root {
    --background-color: white;
    --primary-color: #669933;
    --secondary-color: #735229;
    --third-color: #e2c3a6;

    --text-header-color:#F6E9BB;
    --nav-sec-color: #9eb678;
    --nav-text-color: #224d29;
    
    --header-background-color: #e2c3a6;
    --header-text-color: #F6E9BB;
    --header-menu-background-color: #735229;
}

.dark-mode {
    --background-color: rgb(51, 51, 51);
    --primary-color: #818181;
    --secondary-color: #413c3d;
    --third-color: #cecece;

    --text-header-color:#cacaca;
    --nav-sec-color: #9b9b9b;
    --nav-text-color: #413c3d;
    
    --header-background-color:  #cecece;
    --header-text-color: #cacaca;
    --header-menu-background-color: #413c3d;
}

body {
    background-color: var(--background-color);
    color:            var(--text-color);
}

.navbar {
    background-color: var(--primary-color);

    height: 4rem;
    width: 102%;

    display: flex;
    align-items: center;
    justify-content: space-around;

    position: fixed;
    top: 5rem;

    z-index: 1000;
}

.navbar_elem{

    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 70%;
}

.navbar_elem:hover{
    cursor: pointer;
    background-color: var(--nav-sec-color);
    border-radius: 10rem;
    border: 0.2rem solid white;
}



.navbar a, .navbar .drop-btn{
    color: var(--nav-text-color);

    font-size: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.products-window {
    margin-left: auto;
    margin-right: auto;
    
    height: 120%;
    width: 85%;
}

.products {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;

    padding-top: 20vh; 
    flex-wrap: wrap;

    gap: 2rem; 
}

.product {
    background-color: white;
    display: flex;
    flex-direction: column;

    justify-content: end;
    
    margin: 0.2rem;
    border-radius: 1.5rem;

    border: 0.35rem solid var(--primary-color);

    width: 15rem;
    height: 25rem;

    position: relative;
}

.product-img {
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;

    height: 60%;
    width: 100%;
    
    margin-bottom: 1rem;
    position: relative;
}

.product-img img {
    border-radius: 0.5rem;

    max-height: 100%;
    max-width: 80%;

    display: block;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.product-img button {
    border-radius: 5.5rem;
    position: absolute;

    top: 0.0rem;
    right: 0.5rem;

    height: 3.5rem;
    width: 3.5rem;
    
    background-size: cover;

    border: none;
    outline: none;

    cursor: pointer;
    z-index: 10;
}

.product-img-bton {
    background-image: url('../assets/Fav_Logo_On.png');
}

.product-img-btoff {
    background-image: url('../assets/Fav_Logo.png');
}

.product-text {
    color: var(--secondary-color);
    font-size: larger;

    margin-top: 1rem;
    justify-content: right;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    height: 30%;
    width: 100%;
    

    background-color: var(--header-background-color); 
}

.product-cst-btn {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;

    margin-top:0.2rem;

    background-color: var(--header-background-color); 
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.product-cst-btn h1, .product-cst-btn a{
    margin-top: 1rem;
}

.product-cst-btn-img {
    border-radius: 3rem;
    position: absolute;

    bottom: 0.2rem;
    right: 0.5rem;

    height: 4rem;
    width: 4rem;
    
    background-size: cover;

    border: none;
    outline: none;

    cursor: pointer;
    z-index: 10;

    background-image: url('../assets/ShoppingCart.png');
}

.product h1 {
    font-size: 1rem;
    margin-top: 0rem;

    margin-right: 1rem;
    margin-left: 1rem;

    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.ls-pr {
    list-style-type: none;
}

.products-window {
    margin-top: 7rem; 
}

.dropdown-content {
    color:var(--nav-text-color);
    display: none;
    position: absolute;

    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    background-color: var(--primary-color);

    min-width: 8rem;
    z-index: 0;
}

.dropdown:hover .dropdown-content{
    display: block;
    top: 3.6rem;

    max-width: 16rem;
}

.dropdown-content a {
    color: var(--nav-text-color);
    padding: 0.5rem 1rem;
    text-decoration: none;
    
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: var(--nav-sec-color);
    border-radius: 3rem;
}

.button {
    color: var(--button-text-color);

    border: none;

    padding: 1rem 1.5rem;

    cursor: pointer;
    border-radius: 2rem;
}

.button:hover {
    opacity: 0.8;
}

.cart-item {
    border-radius: 1rem;
    
    margin-top: 1rem;
    margin-bottom: 1rem;

    margin-left: auto;
    margin-right: auto;

    width: 80%;
    min-height: 10%;

    background-color: var(--nav-sec-color)
}

.cart-item-title {
    color:var(--nav-text-color);
    font-weight: bold;
    
    padding-top: 0.5rem;

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;

    margin-right: 1rem;
    margin-left: 1rem;

    text-align: left;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.cart-item-price {
    color:var(--nav-text-color);
    display: flex;
    align-items: center;

    margin-bottom: 0.5rem;
    text-align: left;

    margin-right: 1rem;
    margin-left: 0.2rem;
}

.cart-item-controls {
    display: flex;
    align-items: center;
}

.cart-item-controls button {

    border: none;

    cursor: pointer;
    border-radius: 2rem;

    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
}

.cart-item-controls span{
    margin-left: 1.5rem;
    margin-bottom: 0.5rem;
}

.cart-item-controls button:hover {
    opacity: 0.5;
}

.switch-color {
    position: fixed;

    top: 0.8rem;
    left: 2rem;

    z-index: 1010;
}

.switch-color  button{
    border-radius: 5.5rem;
    position: absolute;

    height: 3.5rem;
    width: 3.5rem;
    
    background-size: cover;

    border: none;
    outline: none;

    cursor: pointer;
    z-index: 10;

    background-image: url('../assets/Black&White.png');
}
