
.light-mode .footer {
    background-color: #333;
    color: #fff;
}

.dark-mode .footer {
    background-color: rgb(51, 51, 51);
    color: #000000;
}

.footer {
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
}
